<h1>Bourbon Store</h1>

<div class="items">

  <div class="bottle" ng-repeat="bottle in bottles">
    <img src="../../img/{{bottle.shortname}}.png">
    <div class="group">
      <h2>{{bottle.name}}</h2>
      <button ng-click="open('md',bottle)" class="description"><i class="fa fa-info-circle"></i>Description</button>
      <p>Price: ${{bottle.price}}</p>
    </div>
    <button class="btn" ng-click="add(bottle.id)">Add to Cart</button>
  </div>
  
</div>

<script type="text/ng-template" id="description">
  <div class="modal-header">
    {{bottle.name}}
  </div>
    <pre>bottle = {{bottle | json}}</pre>
  <div>
  </div>
</script>
